.article-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 4px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .article-header .source-name {
    float: left;
    font-weight: bold;
    margin-left: 8px;
  }

  .article-header .card-icon {
    float: right;
  }

  .article-image {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 12px;
    object-fit: cover;
  }
  
  .article-details {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
  
  .article-title {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 4px;
  }
  
  .article-author {
    font-style: italic;
    color: #555;
    margin-bottom: 4px;
  }
  
  .article-published-at {
    font-size: 0.8rem;
    color: #777;
    clear: both;
    text-align: start;
    margin-left: 8px;

  }
  
  .article-description {
    margin-bottom: 12px;
  }
  
  .article-link {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .article-link:hover {
    text-decoration: underline;
  }
  
  .article-add {
    position: relative;
    bottom: 0px;
  }